* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f6ff;
  min-height: 100vh;
  font-family: Raleway, sans-serif;
}
a {
  text-decoration: none;
  font-weight: 500;
  color: #0096ff;
}
.roboto {
  font-family: "Roboto";
  color: black;
}
.active {
  background-image: linear-gradient(269deg, rgb(0, 72, 255), rgb(0, 150, 255));
  color: #f2f6ff;
}
.inactive {
  background-color: transparent;
  color: #0084ff;
}

.navbar {
  background-color: white;
  width: 100%;
  padding-bottom: 5px;
  top: 0;
  position: fixed;
  height: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.logo {
  margin-left: 5%;
  display: inline-block;
  font-weight: 500;
  line-height: 25px;
  cursor: pointer;
  letter-spacing: 1px;
}
.logo p {
  margin-top: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: -0.9px;
  font-style: normal;
  text-transform: uppercase;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(rgb(0, 150, 255)),
    to(rgb(0, 70, 255))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo i {
  font-size: 15px;
}
.dropdown {
  display: inline-block;
  margin: 35px 0px 3% 5%;
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.btn {
  float: right;
  margin: 10px 60px 0px 0px;
  padding: 10px 50px;
}
.btn button {
  font-family: Raleway;
  border: none;
  border-radius: 20px;
  padding: 5px 25px;
  font-weight: 600;
  text-align: center;
  height: 40px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 0.36px;
}
.container {
  margin: 7% 15%;
}
h1 {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 12px;
  margin-left: 5px;
}
.trending-posts {
  height: 480px;
  display: block;
}
#trending1 {
  height: 450px;
  width: 65%;
  border: 1px solid rgba(0, 168, 255, 0.3);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  float: left;
  margin: 5px;
  cursor: pointer;
}
.trending {
  height: 220px;
  width: 32%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 168, 255, 0.3);
  border-radius: 5px;
  margin-top: 4px;
  cursor: pointer;
}
h2 {
  margin-left: 5px;
  font-weight: 600;
}
.filter {
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  font-stretch: condensed;
}
.filter i {
  color: #3580c1;
  margin-right: 15px;
}
.filter-buttons button {
  margin: 5px;
  border: 1px solid #0084ff;
  border-radius: 20px;
  padding: 6px 14px;
  font-weight: 600;
  text-align: center;
  height: 30px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 0.36px;
}
.cards {
  margin-top: 20px;
}
.card {
  display: inline-block;
  margin: 15px;
  background-color: white;
  width: 312px;
  height: 400px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 168, 255, 0.3);
  border-radius: 5px;
  vertical-align: top;
  cursor: pointer;
}
.card img {
  width: 312px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-body {
  padding: 0px 25px;
  font-size: 15px;
}
.card-body h3 {
  padding: 10px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.content {
  color: grey;
  padding: 20px 0px;
}
.footer {
  background-color: #172146;
  width: 100%;
  height: 80px;
}
.detail-card {
  margin: 8% 24% 2% 24%;
  display: block;
  background-color: white;
  border: 1px solid rgba(0, 168, 255, 0.3);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.detail-card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.detail {
  padding: 2% 10%;
}
.title {
  margin: 20px 0px;
  font-size: 20px;
  line-height: 0.8;
  letter-spacing: -1px;
  font-weight: 600;
  text-align: left;
  font-stretch: expanded;
}
.detail p {
  margin: 10px 0px;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
}
.detail h5 {
  margin: 50px 0px 20px 0px;
  font-weight: 600;
  font-size: 15px;
}
.detail ul {
  padding: 3% 0px;
  list-style-type: none;
}
.detail li {
  font-size: 15px;
  margin-left: 8%;
  padding: 4% 0px;
}

.detail li:before {
  content: "-";
  position: absolute;
  margin-left: -2%;
  color: black;
}
.temp {
  display: block;
  padding-bottom: 8%;
  font-size: 15px;
  letter-spacing: 0.2px;
}
.edyoda {
  border-top: 1px solid black;
  padding: 1.5em 6em;
  align-items: center;
}
.edyoda img {
  display: inline-block;
  width: 100px;
  height: 100px;
}
#ed {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  font-weight: 500;
  margin-top: 4%;
  margin-left: 1%;
  color: #0096ff;
}
#yoda {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  margin-left: 18%;
  margin-top: -8%;
}
.stupid-button {
  display: inline-block;
  border: 1px solid #0084ff;
  border-radius: 16px;
  padding: 0px 14px;
  font-weight: 600;
  text-align: center;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 0.36px;
}
